.track {
    background-color: white;
    height: 4rem;
    width: 100%;
    border-radius: 1rem;
    border: 0px;
    margin-top: 1rem;
    background-color: lightgray;
    display: grid;
    padding: 2%;
    padding-left: 5%;
    box-sizing: border-box;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "image title duration add"
                         "image author author add";
}

.album_cover {
    grid-area: image;
    height: 100%;
    width: 1;
}

.title {
    grid-area: title;
    font-weight: 600;
    overflow: hidden;          /* Hides overflow text */
    text-overflow: ellipsis;   /* Adds ellipsis (...) for overflow text */
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
}

.author {
    grid-area: author;
    overflow: hidden;          /* Hides overflow text */
    text-overflow: ellipsis;   /* Adds ellipsis (...) for overflow text */
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
}

.duration {
    grid-area: duration;
    color: rgba(0, 0, 0, 0.7);
    height: 100%;
    align-items: center;
    text-align: center;
}

.add_button{
    height: 70%;
    width: auto;
    grid-area: add;
    justify-self: right;
    margin-right: 1rem;
    align-self: center;
}